.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.editorconfig
CHANGELOG.md
README.md
LICENSE
package.json
package-lock.json
yarn.lock
pnpm-lock.yaml
commitlint.config.js
biome.json
.releaserc.json
.npmrc
.lintstagedrc.json
.hooks/**
.github/**
.changeset/**
